<div class="container" *ngIf = "isLoggedIn">
  <form role="form" [formGroup] = "deleteForm">
    <label for="delete">Unesite ID teretane koju želite da uklonite iz liste</label>
    <div class="input-group">
      <input type="number" class="form-control" formControlName="delete" name="delete">
      <span class="input-group-btn">
        <button (click) = "onDelete()" class="btn btn-default">Obrisi</button>
      </span>
    </div>
  </form>
</div>

<div class="container">
  <h1>Pregled svih teretana</h1>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let gym of gyms">
      <p>ID: {{gym.id}}</p>
      <h3>{{gym.Name}}</h3>
      <p>{{gym.description}}</p>
      <p>Cena: {{gym.price}}</p>
    </li>
  </ul>
</div>


